{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 2,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	],
	"tailwindConfig": "./tailwind.config.ts",
	"tailwindFunctions": ["clsx", "cn", "twMerge"]
}
